[submodule "KiCAD-Sharepoint"]
	path = KiCAD-Sharepoint
	url = https://github.com/lhr-solar/KiCAD-Sharepoint.git

[submodule "Embedded-Sharepoint"]
	path = Embedded-Sharepoint
	url = https://github.com/lhr-solar/Embedded-Sharepoint.git


